.users-list{
    width: 300px;
    height: 400px;
    max-height: 400px;

    border: 1px solid black;
}

.users-list__search-bar {
    display: flex;
    height: 35px;
}

.users-list__search-bar input {
    width: 70%;
}

.users-list__search-bar button {
    width: 30%;
}

.users-list__container {
    height: calc(100% - 35px);
    overflow-x: auto;
}