.user-card {
    height: 90px;
    width: 100%;
    
    text-align: left;

    border: 1px solid black;
    display: flex;

    background-color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-card .user-card__avatar {
    width: 35%;
}

.user-card .user-card__avatar img {
    max-height: 100%;
    border-radius: 50%;
}