.user-card {
    height: 90px;
    text-align: left;

    border: 1px solid black;
    display: flex;

    background-color: white;
}

.user-card .user-card__avatar {
    width: 35%;
}

.user-card .user-card__avatar img {
    max-height: 100%;
    border-radius: 50%;
}